.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  color: var(--blue);
  transition: opacity 0.5s ease;
}

.feynman__link::after {
  content: " \2192";
}

.feynman__link:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}
