:root {
  --darkgray: #1f1f1f;
  --lightgray: #f2f2f2;
  --blue: #2f80ed;
}

/*Обнулил отсупы, которые заданы браузером, чтобы не было белых рамок вокруг секций*/
body {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.section_upper {
  margin-top: 100px;
}

/* --Header-- */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: var(--lightgray);
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  align-items: center;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  align-self: center;
  margin: 0;
  padding-left: 64px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: var(--blue);
}

.header__link::after {
  content: " \2192";
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* --description-- */

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: flex-start;
}

.two-columns__brief {
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  width: 175px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* --digits-- */

.section__title {
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
}

.section__subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;

}

.section__subtitle_upper {
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  z-index: 10;
}

.table_upper {
  margin-top: 60px;
}

.table_lower {
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin: 0 auto;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;

}

.table__author {
  margin: 0;
}

/* --Feynman-- */
.feynman {
  background-color: var(--lightgray);
  height: 890px;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  margin: 0;
}

.feynman__title {
  padding-top: 100px;
  width: 648px;
  z-index: 10;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  z-index: 10;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  color: var(--blue);
}

.feynman__link::after {
  content: " \2192";
}

/* --Kaufman-- */

.kaufman {
  background-color: var(--darkgray);
  overflow: hidden;
  position: relative;
  margin: 0;
}

.section__title__upper {
  padding-top: 90px;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
  padding-top: 20px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 10;
}

.kaufman__trangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  bottom: -210px;
  z-index: 0;

}

/* --Footer-- */

.footer {
  background-color: var(--darkgray);
  padding: 60px 0 40px 0;
  min-height: 350px;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
  display: flex;
  flex-direction: column;
}



.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  margin: 0;
}

.footer__author {
  color: white;
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}


.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__column-links {
  text-decoration: none;
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-icon {
  padding-right: 10px;
}
